.coverage
.DS_Store
.installed.cfg
.mr.developer.cfg
.Python
.sass-cache/
*.egg
*.egg-info
*.graffle
*.kate-swp
*.mo
*.py?
*.pyc
*~
*.hot-update.*
bin/
buildout-cache/
develop-eggs/
/dist
docs/doctrees
docs/html
docs/make.bat
docs/Makefile
extras/
htmlcov/
include/
lib/
lib64
local/
node_modules/
parts/
pip-selfcheck.json
src/
var/
rer/bandi/browser/static/dist/dev
