recursive-include docs *
recursive-include rer *
global-exclude *pyc
include *.py
include buildout.cfg
exclutde .babelrc
exclude .eslintrc.json
exclude .babelrc
exclude .nvmrc
exclude .prettierrc.json
exclude .stylelintrc.json
exclude constraints*.txt
exclude package.json
exclude postcss.config.js
exclude requirements.txt
exclude tox.ini
exclude webpack.config.js
exclude yarn.lock
prune .github
prune rer/bandi/browser/css/.sass-cache
prune rer/bandi/browser/static/dist/dev
