.rer-contextual-portlets-right {
	width: 17em;
	margin-left: 1em;
	float: right;
}

#content .rer-contextual-portlets a {
	background: none;
	padding:1px 0 1px 1px;
}

.rer-contextual-description {
    margin-bottom: 10px;
}

#content .rer-contextual-text-right {
	float: none;
}

.contextualbody .navTreeItem li {
	list-style-type:none;
}

.rer-contextual-portlets ul {
	margin: 0.5em 0 0 0.5em;
}

.contextualbody .navTreeItem a, 
.contextualbody dd.portletItem .navTreeItem a {
	display:inline
}

.tableRight{
	width:100%;
}

.bandiColumnRight{
	width:40%;
	float:right;
    margin-left: 1em;
}

/*** etichette bandi ***/

.bandoInfos .bandoStateClass {
    display:block;
    padding-left:52px;
	background-repeat:no-repeat;
	background-position:left center;
	font-weight: normal;
	font-size: 0.8em;
	text-transform: uppercase;
}
.state-closed {
    background-image: url(++resource++rer.bandi.images/bando_closed.png);
    color: #700;
}
.state-open {
    background-image: url(++resource++rer.bandi.images/bando_open.png);
    color: #255a01;
}

.state-inProgress {
    background-image: url(++resource++rer.bandi.images/bando_inprogress.png);
    color: #9c6f02;
}

.bandoDetail {
    clear: both;
}
dd.bandoDetail {
    margin: 0 0;
    padding: 0.5em 0 0;
}
dl.bandoItem {
    border-bottom: 1px dashed #CCC;
    padding: 0.5em 0 0.7em;
    margin: 0.5em 0;
}
.labelTB {
    font-weight: bold;
}
